/* line 21, ../sass/main.scss */
circle.node {
  stroke: #433d5a;
  stroke-width: 1.5px;
  fill: #141e2b;
}

/* line 27, ../sass/main.scss */
line.link {
  stroke-width: 1;
  stroke: #999;
  stroke-opacity: .6;
}

/* line 34, ../sass/main.scss */
body #container {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
}
/* line 37, ../sass/main.scss */
body #container #chart {
  width: 500px;
}
/* line 40, ../sass/main.scss */
body #container #content {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}

/* line 46, ../sass/main.scss */
.box-header, #content h2 {
  background-color: #160500;
  color: #b3d733;
  text-transform: uppercase;
  font-weight: normal;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 54, ../sass/main.scss */
.bar, header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #001116), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #001116, #000000);
  background: -moz-linear-gradient(top, #001116, #000000);
  background: -o-linear-gradient(top, #001116, #000000);
  background: linear-gradient(top, #001116, #000000);
  border-bottom: 1px solid #38334b;
  -moz-box-shadow: inset 0 1px 0 rgba(56, 51, 75, 0.6);
  -webkit-box-shadow: inset 0 1px 0 rgba(56, 51, 75, 0.6);
  -o-box-shadow: inset 0 1px 0 rgba(56, 51, 75, 0.6);
  box-shadow: inset 0 1px 0 rgba(56, 51, 75, 0.6);
}

/* line 60, ../sass/main.scss */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #001116;
  color: #9fc3cd;
}

/* line 66, ../sass/main.scss */
header {
  padding-left: 10px;
}

/* line 71, ../sass/main.scss */
#notice {
  margin: 10px;
  padding: 10px;
  background-color: #0f1620;
  text-align: center;
}
/* line 76, ../sass/main.scss */
#notice a {
  color: #a9cd28;
  text-decoration: none;
}
/* line 79, ../sass/main.scss */
#notice a:hover {
  text-decoration: underline;
}

/* line 85, ../sass/main.scss */
#content {
  background-color: #0f1620;
  padding: 10px;
  margin: 10px;
}
/* line 91, ../sass/main.scss */
#content h2 .pagination-info {
  color: #71891b;
  margin-left: 10px;
}
/* line 96, ../sass/main.scss */
#content a {
  display: block;
  background-color: #141e2b;
  color: #b0c1d6;
}
/* line 100, ../sass/main.scss */
#content a:hover {
  color: #a9cd28;
  background-color: #192331;
  text-decoration: none;
}
/* line 105, ../sass/main.scss */
#content a:visited {
  color: #b0c1d6;
}
/* line 109, ../sass/main.scss */
#content #video {
  margin: 20px 10px;
}
/* line 112, ../sass/main.scss */
#content ul, #content ol {
  list-style: none;
  margin: 0px;
}
/* line 11, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
#content ul li, #content ol li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 115, ../sass/main.scss */
#content ul li, #content ol li {
  background-color: #141e2b;
  border-bottom: 1px solid #211737;
  color: #b0c1d6;
  padding: 10px;
}
/* line 120, ../sass/main.scss */
#content ul li a, #content ol li a {
  margin: -10px;
  padding: 10px;
  display: block;
  background-color: inherit;
}
/* line 125, ../sass/main.scss */
#content ul li a:visited, #content ol li a:visited {
  color: #b0c1d6;
  background-color: inherit;
}
/* line 129, ../sass/main.scss */
#content ul li a:hover, #content ol li a:hover {
  color: #a9cd28;
}
/* line 133, ../sass/main.scss */
#content ul li:nth-child(2n), #content ol li:nth-child(2n) {
  background-color: #121b28;
}
/* line 136, ../sass/main.scss */
#content ul li:hover, #content ol li:hover {
  background-color: #192331;
}

/* line 144, ../sass/main.scss */
dl dt, dl dd {
  margin-bottom: 2px;
}
/* line 147, ../sass/main.scss */
dl dt {
  padding: 10px;
}
/* line 150, ../sass/main.scss */
dl dt {
  float: left;
  clear: left;
  width: 100px;
}
/* line 154, ../sass/main.scss */
dl dt:after {
  content: ':';
}
/* line 158, ../sass/main.scss */
dl dd {
  margin-left: 120px;
}
/* line 160, ../sass/main.scss */
dl dd a {
  padding: 10px;
}

/* line 166, ../sass/main.scss */
a {
  color: #a9cd28;
  text-decoration: none;
}
/* line 169, ../sass/main.scss */
a:hover {
  color: #a9cd28;
  text-decoration: underline;
}
